#card {
    display: inline-block;
    margin-top: 300px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 5px black;
    background: url('old-paper.jpg');
    background-size: cover;
    border-radius: 30px;
    font: inherit;
    font-size: 40px;
    color: #990303;
    width: 625px;
    height: 875px;
}

img {
    width: 300px;
    height: auto;
}

#card-text {
    margin-top: 100px;
}

#prev, #next {
    width: 130px;
    height: 130px;
    margin: 0 70px;
    margin-bottom: 20px;
    border: none;
    font: inherit;
    color: inherit;
    font-size: 60px;
    background-color: #1a1a1a;
    box-shadow: 10px 10px 5px black;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#dots {
    display: flex;
    font-size: 120px;
    align-items: center;
    justify-content: center;
    margin:0;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
}

/* #prev:hover, #next:hover {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 30px;
    width: 75px;
    height: 75px;
    background-color: #414346;
} */

*:focus {
    outline: none;
}

#get-cards {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 100px;
    width: 130px;
    height: 130px;
    background-color: transparent;
    border: 5px solid #cecece;
    color: #cecece;
    font-size: 50px;
    border-radius: 50%;
    cursor: pointer;
}