#player_names {
	position: absolute;
	left: 10;
	list-style-type: none;
}

#player_names li {
	padding: 10px;
	border: 1px solid;
	margin-top: 10px;
	border-radius: 4px;
	text-align: left;
}

#player_names li:before {
	font-family: FontAwesome;
	content: "\f007";
	margin-right: 10px;
}

#player_names li:hover {
	cursor: pointer;
}

#player0 {
	color: crimson;
}

#player1 {
	color: dodgerblue;
}

#player2 {
	color: limegreen;
}

#player3 {
	color: deeppink;
}

#player4 {
	color: orangered;
}

#player5 {
	color: yellow;
}

.end_turn {
	border: 3px solid #616161;
	border-radius: 5px;
	font: inherit;
	background-color: black;
	color: #616161;
	position: absolute;
	width: 200px;
	height: 75px;
	bottom: 20;
	right: 20;
	cursor: pointer;
}