#player_names {
	position: absolute;
	left: 10;
	list-style-type: none;
}

#player_names li {
	padding: 10px;
	border: 1px solid;
	margin-top: 10px;
	border-radius: 4px;
	text-align: left;
}

#player_names li:before {
	font-family: FontAwesome;
	content: "\f007";
	margin-right: 10px;
}

#player_names li:hover {
	cursor: pointer;
}

#player0 {
	color: crimson;
}

#player1 {
	color: dodgerblue;
}

#player2 {
	color: limegreen;
}

#player3 {
	color: deeppink;
}

#player4 {
	color: orangered;
}

#player5 {
	color: yellow;
}

.tooltip p {
	margin: 15px 0;
}

.next-phase {
	border: 3px double #990303;
	border-radius: 5px;
	font: inherit;
	background-color: rgba(1, 1, 1, 0);
	color: #990303;
	position: absolute;
	width: 200px;
	height: 60px;
	bottom: 20;
	right: 20;
	cursor: pointer;
}

#log-sidebar {
	margin: 0;
	position: absolute;
	right: 0;
	height: 100%;
	width: 300px;
	background: url('old-paper.jpg');
	background-position: right 0 bottom 0;
	list-style: none;
	box-shadow: -7px 0 10px black;
	overflow:hidden;
	overflow-y:scroll;
}

#log-patch {
	margin: 0;
	position: absolute;
	right: 0;
	height: 90px;
	bottom: 7px;
	width: 340px;
	background: url('old-paper.jpg');
	background-position: right 0 bottom 0;
	list-style: none;
}

#log-sidebar li {
	padding: 10px;
	width:auto; 
	position: relative;
	bottom: 100px;
	text-align: left;
	color: #990303;
}

#in-game-menu {
	margin: 0;
	position: absolute;
	left: 40px;
	bottom: 40px;
	height: 40%;
	width: 250px;
	background: url('old-paper.jpg');
	background-size: cover;
	box-shadow: -7px 0 10px black;
	border-radius: 10px;
}

#support-menu {
	position: absolute;
	left: 40px;
	bottom: 40px;
	height: 40%;
	width: 250px;
	background-color: rgba(1, 1, 1, 0);
}

#alloc-phase {
	position: relative;
	display: inline-block;
	color: #990303;
	font-size: 20px;
	margin-top: 20px;
}

#realloc-phase {
	position: relative;
	display: inline-block;
	color: #990303;
	font-size: 20px;
	margin-top: 20px;
}
#attack-phase {
	position: relative;
	display: inline-block;
	color: #990303;
	font-size: 20px;
	margin-top: 20px;
}

#support-origin {
	color: #990303;
	font-size: 20px;
	top: 80px;
	left: 10px;
	text-align: left;
	position: absolute;
} 

#support-destiny {
	color: #990303;
	font-size: 20px;
	top: 120px;
	left: 10px;
	margin-top: 5px;
	text-align: left;
	position: absolute;
} 

#support-plus{
    width: 30px;
	height: 30px;
    font-size: 15px;
    color:#990303;
	position: absolute;
    background-color: rgba(1, 1, 1, 0); 
	border: 3px double #990303;
	bottom: 180;
	left: 180;
	border-radius: 5px;
}

#support-troops {
	color: #990303;
	font-size: 50px;
	bottom: 165;
	left: 110;
	position: absolute;
} 

#support-minus {
	width: 30px;
	height: 30px;
	bottom: 30px;
	font-size: 15px;
	position: absolute;
	color:#990303;
	background-color: rgba(1, 1, 1, 0); 
	bottom: 180;
	left: 40;
	border: 3px double #990303;
} 

#support-confirm {
	border: 3px double #990303;
	border-radius: 5px;
	font: inherit;
	background-color: rgba(1, 1, 1, 0);
	color: #990303;
	position: absolute;
	width: 100px;
	height: 50px;
	bottom: 20;
	left: 125;
	cursor: pointer;
} 

#support-cancel {
	border: 3px double #990303;
	border-radius: 5px;
	font: inherit;
	background-color: rgba(1, 1, 1, 0);
	color: #990303;
	position: absolute;
	width: 100px;
	height: 50px;
	bottom: 20;
	left: 20;
	cursor: pointer;
} 

#dice-atk {
	color: #990303;
	font-size: 20px;
	bottom: 135;
	left: 20;
	position: absolute;
} 

#dice-def {
	color: #990303;
	font-size: 20px;
	bottom: 115;
	left: 20;
	position: absolute;
} 

