body {
  margin: 0;
  background-color: #333;
  color: #cecece;
  font-family: 'Special Elite', cursive;
}

svg {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 20px;
  width: 50%;
  height: auto;
}

.info {
  position: absolute;
  display: none;
  bottom: 30px;
  left: 30px;
  font-size: 30px;
}

path {
  fill: #444;
}

path:hover {
  cursor: pointer;
}

path:focus {
  outline: 0;
}

.free-0:hover, .taken-0 {
  fill: crimson;
}

.free-1:hover, .taken-1{
  fill: dodgerblue;
}

.free-2:hover, .taken-2{
  fill: limegreen;
}

.free-3:hover, .taken-3 {
  fill: deeppink;
}

.free-4:hover, .taken-4 {
  fill: orangered;
}

.free-5:hover, .taken-5 {
  fill: yellow;
}

.bg {
  fill: #555;
}

.bg:hover {
  cursor: default;
}