body {
  background-color: #333;
  color: #cecece;
  font-family: 'Special Elite', cursive;
}

svg {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 20px;
  width: 50%;
  height: auto;
}

.info {
  position: absolute;
  display: none;
  bottom: 30px;
  left: 30px;
  font-size: 30px;
}

path {
  fill: #444;
}

path:hover {
  cursor: pointer;
}

.free_0:hover, .taken_0 {
  fill: crimson;
}

.free_1:hover, .taken_1{
  fill: dodgerblue;
}

.free_2:hover, .taken_2{
  fill: limegreen;
}

.free_3:hover, .taken_3 {
  fill: deeppink;
}

.free_4:hover, .taken_4 {
  fill: orangered;
}

.free_5:hover, .taken_5 {
  fill: yellow;
}

.bg {
  fill: #555;
}

.bg:hover {
  cursor: default;
}