#player_names {
	list-style-type: none;
}

#player0 {
	color: crimson;
}

#player1 {
	color: dodgerblue;
}

#player2 {
	color: limegreen;
}

#player3 {
	color: deeppink;
}

#player4 {
	color: orangered;
}

#player5 {
	color: yellow;
}